<component name="ArtifactManager">
  <artifact type="war" name="springboot2.0_03_jsp:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springboot2.0.war">
      <element id="artifact" artifact-name="springboot2.0_03_jsp:war exploded" />
    </root>
  </artifact>
</component>